<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	{% if template contains 'search' %}
<meta name="robots" content="noindex">
{% endif %}

	{% if handle contains 'page-handle-you-want-to-exclude' %}
<meta name="robots" content="noindex">
{% endif %}

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Adil production - office en motion design au Maroc</title>

<style type="text/css">
<!--
.style16 {font-family: "A Jannat LT"; color: #0B588C; font-weight: bold; font-size: 50px;}
.style17 {
	color: #BB2E25;
	font-size: 36px;
	font-family: "A Jannat LT";
	font-weight: bold;
}

-->
</style>
<style>
html{
	scroll-behavior: smooth;
}

</style>
	<meta name="google-site-verification" content="8gD44gnm26Gsc5epIRUjDPyP5xbyZRX0k26W-Q9U4jQ" />
</head>

<body>

<div align="center">
  
<div align="center">
  <IMG src="Page Adil production/Untitled-1 - Copie.png" width="1353" height="50" usemap="#Map2" border="0" />
  <map name="Map2" id="Map2">
    <area shape="rect" coords="989,12,1054,33" href="#sec3" />
    <area shape="rect" coords="1102,13,1176,32" href="#sec1" />
    <area shape="rect" coords="1223,13,1315,32" href="#sec2" />
  </map>
  <br />
</div>
<hr/><br />
<section id="sec3" data-text="section3"><img src="Page Adil production/2020-09-16_222945.jpg" width="649" height="365" />
  <iframe src="https://player.vimeo.com/video/472661498" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</section>
</section>
</section>
<br />
<div align="right">
  <p align="center"><span class="style17"><u>Presentation</span></u>
  
  <hr />
  </p>
</div>
  <div align="center">
<div align="center"><img src="Page Adil production/2020-09-17_182228.jpg" width="1164" height="285" border="0" /></div><br />
  <br />
  <div align="center" class="style16"></div>
    <img src="Page Adil production/2020-09-16_223215.jpg" width="1279" height="696" />
	
    <div align="center" class="style16"><span class="style16"><u>Prix</u></span></div>
	<br />
	<br />
	<br />
	<br />
	<br />
    <p align="center">
    <img src="Page Adil production/2020-09-16_221605.png" width="876" height="790" usemap="#Map" border="0" />
    <map name="Map" id="Map">
      <area shape="rect" coords="7,101,269,281" href="https://www.youtube.com/watch?v=excK3Eepe_0" target="_blank" />
      <area shape="rect" coords="307,100,570,282" href="https://www.youtube.com/watch?v=TnGIiqSXJ9E" target="_blank" />
      <area shape="rect" coords="607,100,870,278" href="https://www.youtube.com/watch?v=ilQKSeH-rtE" target="_blank" />
    </map>
   <br />
	<br />
	<br />
	<hr />
  
<div align="center">
    <p><br />
      <br />
      <br />
      <br />
</div>
      <div align="center"><section id="sec1" data-text="section1"><img src="Page Adil production/Untitled-5.png" width="394" height="97" />    
        </p>
      </div>
      
</div>
  <div align="right"></div>
  
  <p>
  <div align="center"><a href="https://www.youtube.com/watch?v=W-mBhEeUpOM"> <img src="Page Adil production/2020-09-17_182616.jpg" width="636" height="374" /></a><a href="https://www.youtube.com/watch?v=U0HKNYmfuZY&feature=youtu.be"><img src="Page Adil production/2020-09-17_182925.jpg" width="716" height="392" /></a><br /></p>
      <a href="https://www.youtube.com/watch?v=eUg09ffNeQ8"><img src="Page Adil production/2020-09-22_174245.jpg" width="732" height="382" /></a><a href="https://www.youtube.com/watch?v=TnGIiqSXJ9E"><img src="Page Adil production/2020-09-22_174914.jpg" width="689" height="372" /></a><a href="https://www.youtube.com/watch?v=sx7FXqnzp9o"><img src="Page Adil production/2020-09-17_183958.jpg" width="707" height="377" /></a>
      <a href="https://www.youtube.com/watch?v=ilQKSeH-rtE"><img src="Page Adil production/2020-10-26_135345.jpg" width="785" height="438" /></a><a href="https://www.youtube.com/watch?v=excK3Eepe_0"><img src="Page Adil production/2020-09-17_183432.jpg" width="652" height="382" /></a> <br />
    <br />
    <br />
    
    <div align="right">
      <p>
      <div align="center">
      <a href="https://vimeo.com/user125081815"><img src="Page Adil production/1024px-Vimeo.svg.png" width="110" height="110" /></a>
      <a href="https://www.behance.net/adilbeloss"><img src="Page Adil production/behance-icon.png" width="110" height="110" /> </a>  
      <a href="https://www.youtube.com/channel/UCCjx1r99pZxmtfVVF8tF48Q?view_as=subscriber"><img src="Page Adil production/Youtube_icon-icons.com_66802.png" width="128" height="128" /></a></div>
</p>
<hr />
    </div>
    <br />
    <br />
    <div align="center">
    <section id="sec2" data-text="section2"><img src="Page Adil production/Untitled-4.png" width="843" height="73"border="10" /></section></div>
    <br />
    <br />
    
    
</div>
</body>
</html>
