
html{ scroll-behavior: smooth;}

.style16 {font-family: "A Jannat LT"; color: #0B588C; font-weight: bold; font-size: 50px;}
.style17 {
	color: #BB2E25;
	font-size: 36px;
	font-family: "A Jannat LT";
	font-weight: bold;
}
	
	input{	box-shadow: 5px 5px 0px 0px rgb(0, 0, 0); float: center;}
	ul{ list-style-type:none;
	padding:40px;
	margin:0px;
	position: absolute;
	position:fixed;
	width:100%;
	background:#f2f2f2;
	height:25px;
	display: flex;
	top:0;
	box-shadow: 0px 5px 5px 0px rgba(13, 46, 200, 0.12); float: center; transition: .5s;
	

	}
	::-webkit-scrollbar {
		width: 20px;
		transition: 0.4s;
	  }
	  ::-webkit-scrollbar-track {
		
		transition: 0.4s;
	  }
	  ::-webkit-scrollbar-thumb {
		background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 42%, rgba(0,212,255,1) 100%);
		transition: 0.4s;
	  }
	  ::-webkit-scrollbar-thumb {
		background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 42%, rgba(0,212,255,1) 100%);
		border-radius: 20px;
		transition: 0.4s;
	  }
	  ::-webkit-scrollbar-thumb {
		background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 42%, rgba(0,212,255,1) 100%);
		border-radius: 20px;
		border: 6px solid transparent;
		background-clip: content-box;
		transition: 0.4s;
	  }
	  ::-webkit-scrollbar-thumb:hover {
		background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(179,0,255,1) 56%);
		background-clip: content-box;
		transition: 0.4s;
	  }
	.btn{
		margin: 0px;
		background-color: #69276E;
		border: solid 1px black;
		border-radius: 50px;
		padding: 22px;
		color: white;
		width: 470px;
		font-family:"Myriad Pro";
		font-size:36px;
		height: 85px;
		transition:0.4s;
		
		
}
/* The alert message box */
.alert {
	padding: 20px;
	background-color: #a874af; /* Red */
	color: white;
	margin-bottom: 15px;
	
  }
  
  /* The close button */
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
	color: black;
  }
	.writer{
		color: #69276E;
		font-family:"Myriad Pro";
	}
	.typewrite{
		color: #69276E;
		font-family:"A Jannat LT";
		font-size: 50px;
		text-decoration: none;
		border-right: 0.08em;
	}
	.btn:hover{
		background-color:#ffffff;
		color:#69276E;
		border:1px solid #69276E;
		box-shadow: 0 0 10px #69276E, 0 0 40px #69276E, 0 0 100px #69276E;
		padding: 25;
		transition: 2s;
		transform: rotateX(360deg);
		
	}
	
	li{
		display: inline;
		margin:35px;
		padding:20px;
		border-radius:200px;
		font-size:14px;
		color:#fff;
		font-family:"Myriad Pro";
		background-color:#69276E;text-decoration: none;
    transition: 0.4s;
	}
		
		li:hover{ background-color:#ffffff;
		margin:34px;
		padding:25px;
		color:#69276E;
	border-radius:50px;
	border:1px solid #69276E;
	 box-shadow: 0 0 10px #61284b, 0 0 40px #61284b, 0 0 100px #61284b;
	
		}
    li:active{ box-shadow: 0 0 10px #8200fc, 0 0 20px #8200fc, 0 0 40px #8200fc;}
		#les etapes{
			background:#CCC; width:100%; height:25px;
			
		}
#risala{  width:100%; display: flex; justify-content: center; background: #eeeeee; margin: 0px; padding: 0px;
}
 
input{margin: 0px; padding: 10px; width: 250px;  float: center; font-family: "A Jannat Lt" ; width: 300px }
 button{padding: 20px; width: 100%px; font-size: 20px; margin: 50px; color:#fff; background: #6D2372; border-radius: 50px; border: none; transition: 0.3s;}
button:hover{background: white; color: #814B87; border: solid #814B87 1px; padding: 30px; margin: 50px; box-shadow: 0 0 10px #61284b, 0 0 40px #61284b, 0 0 60px #61284b;}
textarea{resize: vertical; 	box-shadow: 5px 5px 0px 0px rgb(0, 0, 0); float: center;}
 input{justify-content: left;  }
 .form-group{font-family: sans-serif; justify-content: center; padding: 5px;}
input{ margin: 20px; border: solid #814B87 4px; border-top: none; border-left: none;border-right: none; background: #EEEEEE; }
textarea{border-radius: 20px;margin: 20px; border: solid #814B87 4px;}
body{margin: 0px; }
.container{  width: 20%;  padding: 0px; margin: 50px;}
 button:active{box-shadow: 0 0 10px #8200fc, 0 0 20px #8200fc, 0 0 40px #8200fc;}

 .checkbtn{font-size: 25px; float: left;padding: 0px; margin: 0px; color: #ffffff; margin: -3px; display: none; cursor: pointer; }
 .menu{
	 display: none;
 }
.nta{
	display: block;
	transform: translateY(-34px);
}
.esp{
	display: none;
	transition: 0.4s;
}
@media (max-width: 1000px){
	
ul{
	display: block;
	
}
.esp{
	display: block;
	transition: 0.4s;
}
.menu{
	display: block;
	color: white;
}

 
 li{
     font-size: 25px;
	 margin: 0%;
	 padding: 30px;
  }

 
 #image{ display:none;}
 .nta{
	display: none;
}
}


